# Add patterns of files DVC should ignore, which could improve
# the performance. Learn more at
# https://dvc.org/doc/user-guide/dvcignore

# Python
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log
